<br>
<div class="container w-70">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col" colspan="2">Duration</th>
        </tr>
      </thead>
      <tbody>
       <tr *ngFor="let i of info">
          <th scope="row">{{i.id}}</th>
          <td>{{i.title}}</td>
          <td>{{i.description}}</td>
          <td>{{i.duration}}</td>
          <td> <a class="btn btn-primary" [routerLink]="['/courses/edit', i.id]">Edit</a></td>
          <td> <a class="btn btn-danger" [routerLink]="['/courses/delete', i.id]">Delete</a></td>
       </tr>
      </tbody>
    </table>
  </div>
 
 
 
 
 